body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 8em;
    background-color: black;
    box-shadow: 0px 1px 5px rgb(62, 62, 62); /* x y blur spread color*/
    z-index: 50;
    top: 0;
}

main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    justify-content: start;
    margin-top: 8em;
}

footer {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    justify-items: center;
    gap: 1em;
}

/* === Top Navigations === */
.top-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    width: 100vw;
    height: 7.5em;
    text-align: center;
    justify-items: center;
    margin: 0;
}

.hamburger-btn {
    background: none;
    border: none;
    color: white;
    font-size: 3em;
    grid-area: 1 / 1 / 2 / 2; /* row column row column*/
}

.logo-img {
    max-height: 8em;
    width: auto;
    grid-area: 1 / 2 / 2 / 3;
    overflow: hidden;
    object-fit: cover;
    display: block;

}

.hidden-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    gap: 1em;
    width: 250px;
    height: 100vh;
    left: -250px; /* Hides outisde the screen */
    background-color: #7e3700;
    padding: 1.5em 2em;
    box-sizing: border-box;
    transition: left 0.4s ease;
    z-index: 10;
}

.hidden-nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

.hidden-nav.open {
    left: 0;
}

.hidden-nav.close {
    left: -250px;
}

#nav-close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 2em;
    margin-left: auto;
}

.nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.569);
    visibility: hidden;
    z-index: 10;
}

.nav-overlay.show {
    visibility: visible;
    opacity: 1;
}

/* === Footer === */
footer h2 {
    margin: 0;
    padding-bottom: 0.5em;
}
.footer-home {
    width: 20em;
    height: 5em;
    overflow: hidden;
    display: inline-block;
}

.logo-img.footer{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.footer-pages {
    display: flex;
    flex-direction: column;
}

.footer-pages a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding: 0.25em;
}

.instagram-img {
    width: 3em;
    height: auto;
}

/* ======================= 
        Home 
========================== */
/* -- Hero Section -- */
.hero-section {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.hero-section video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.hero-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.19);
    color: white;
    text-shadow: 0 0 10px black;
    font-size: 2em;
    z-index: 2;
    position: absolute;
    font-family: "Walter Turncoat", cursive;
}

.hero-overlay p {
    margin-bottom: 14em;
}

.hero-scroll {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-scroll img {
    max-width: 2em;
    height: auto;
    object-fit: cover;
    filter: drop-shadow(0 0px 10px black);
}

/* -- About Section -- */
.about-section {
    margin: 2em;
    padding-top: 3em;
    height: 30em; /* For Testing*/
}

/* -- Product Preview -- */
.productPreview-section {
    margin: 2em;
    padding-top: 3em;
    height: 30em; /* For Testing*/
}

/* ======================= 
        Products 
========================== */

/* ======================= 
        Contact 
========================== */

/* ======================= 
        Breakpoints 
========================== */

